@page "/"

<PageTitle>EcoMonitor</PageTitle>

<div class="text-center">
    <h1>EcoMonitor 🌱</h1>
    <p>Transformando ações em impacto ambiental</p>
</div>

<div class="d-flex justify-content-center flex-wrap">
    <EcoStatus Titulo="Reciclagem de Plástico" Peso="1" />
    <EcoStatus Titulo="Plantio de Árvores" Peso="10" />
    <EcoStatus Titulo="Descarte de Eletrônicos" Peso="5" />
</div>